HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### VS Code ###
.vscode/

### Logs ###
*.log
logs/

### Docker ###
.docker/
*.env

### H2 ###
*.db
*.h2.data
*.lock.db

### Temp files ###
*.tmp
*.temp

### OS specific ###
.DS_Store
Thumbs.db